.FormStyled {
  width: 100%;
  padding: 20px 28px;
  background-color: lightgray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.FormPair {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.LabelStyled {
  padding: 2px 5px;
}

.InputStyled {
  width: 180px;
  padding: 2px 5px;
  border-radius: 5px;
}

.ButtonStyled {
  padding: 2px 5px;
  border-radius: 5px;
  cursor: pointer;
}