.Contacts {
  width: 100%;
  padding: 20px 28px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.Contact {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ButtonStyled {
  padding: 2px 5px;
  border-radius: 5px;
  cursor: pointer;
}