.Contacts {
  padding: 20px 28px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.Contact {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DeleteButton {
  padding: 2px 5px;
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
}

.Info {
  font-style: italic;
  font-size: smaller;
}